<form [formGroup]="form">
  <div class="row d-flex justify-content-between mb-4">
    <app-radio-buttons class="col-md-3 col-sm-12 mb-2 mb-md-0" [control]="fields?.timeSpan" [options]="timeSpanOptions"
      [optionsLabels]="timeSpanLabels" [group]="false" [id]="'timeSpan'"
      (inputChange)="presetRange()"></app-radio-buttons>
    <div class="col">
      <div class="d-flex flex-column flex-md-row justify-content-end">
        <app-shortdate-picker class="p-0 me-md-2 mb-2 mb-md-0" [range]="true" [control]="fields.dateRange"
          [id]="'dateRange'" [maxDateRange]="366" [icon]="'bi-calendar'" (click)="unsetRange()">
        </app-shortdate-picker>

        <!-- medium screen or greater  -->
        <div class="d-none d-md-flex">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle me-2" type="button" id="filtersDropdown"
              data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              <i class="bi bi-list"></i>
              Open Filters
            </button>
            <div class="dropdown-menu" aria-labelledby="filtersDropdown">
              <ng-container *ngTemplateOutlet="parkFacilitySelect"></ng-container>
            </div>
          </div>
        </div>

        <!-- small screen or smaller -->
        <div class="d-flex flex-column d-md-none">
          <div class="accordion" id="filterAccordion">
            <div class="accordion-item">
              <div class="d-flex flex-row">
                <button class="col btn btn-outline-primary my-1" data-bs-toggle="collapse"
                  data-bs-target="#openFilterAccordionContent" aria-expanded="false"
                  aria-controls="openFilterAccordionToggle">
                  <i class="bi bi-list"></i>
                  Open Filters
                </button>
              </div>
              <div class="d-flex flex-row">
                <div class="col mb-2 accordion-card accordion-collapse collapse" id="openFilterAccordionContent"
                  data-bs-parent="#filterAccordion">
                  <ng-container *ngTemplateOutlet="parkFacilitySelect"></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #parkFacilitySelect>
  <div class="m-4">
    <div class="row">
      <div class="col">
        <app-picklist [label]="'Park'" [selectOptions]="parkOptions" [control]="fields.park"
          [id]="'downloadChartsPark'">
        </app-picklist>
      </div>
      <div class="col">
        <app-picklist [label]="'Facility'" [selectOptions]="facilityOptions" [placeholder]="'All Facilities'"
          [control]="fields.facility" [id]="'downloadChartsFacility'">
        </app-picklist>
      </div>
    </div>
  </div>
</ng-template>