@import "src/assets/styles/abstracts/mixins.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.accordion {
  .accordion-button {
    color: $primary-blue;
    background-color: white;
    box-shadow: none;
  }

  .accordion-item {
    border: none;
    color: black;
  }
}

.form-section {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.form-header {
  padding: 2rem;
}

.form-footer {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-section:nth-child(odd) {
  background-color: $form-grey;
}

.invalid-field {
  box-shadow: 0 0 0 0.25rem rgb(255 30 30 /25%);
  border-radius: 6px;
  transition: 0.3s smooth;
}

.park-header-bg-colour {
  background: linear-gradient(110deg, #5475a7 60%, #003366 60%);
}

.grey-bg {
  background-color: #e4e4e4;
}

.modal-body {
  word-wrap: break-word;
}
