<form [formGroup]="form">
  <div class="form-section">
    <app-passes-filter-fields
      [passType]="fields?.passType"
      [passTypeOptions]="passTypeOptions"
      [date]="fields?.date"
      [park]="fields?.park"
      [parkOptions]="parkOptions"
      [facility]="fields?.facilityName"
      [facilityOptions]="facilityOptions"
      [passStatus]="fields?.passStatus"
      [passStatusOptions]="statusesList"
      [firstName]="fields?.firstName"
      [lastName]="fields?.lastName"
      [email]="fields?.email"
      [reservationNumber]="fields?.reservationNumber"
      [overbooked]="fields?.overbooked"
      [overbookedOptions]="overbookedList"

    >
    </app-passes-filter-fields>
    <div class="d-flex justify-content-lg-end">
      <button class="btn btn-secondary" (click)="clearForm()">Clear</button>
      <button [disabled]="!checkFieldsForSubmission()" class="btn btn-primary ms-2" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</form>
