.btn-group {
  .btn-camera {
    width: 200px;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-manual {
    width: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.gutters {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}
