<div class="container-fluid pt-3 mb-4">
  <h1>Pass Management</h1>

  <div class="d-grid gap-2 mb-4">
    <div class="btn-group btn-group-lg">
      <button
        type="button"
        class="btn btn-primary"
        [class.active]="mode === 'camera'"
        (click)="setMode('camera')"
      >
        Camera
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [class.active]="mode === 'manual'"
        (click)="setMode('manual')"
      >
        Manual Lookup
      </button>
    </div>
  </div>

  <section *ngIf="mode === 'camera'">
    <app-qr-scanner></app-qr-scanner>
  </section>
  <section *ngIf="mode === 'manual'">
    <app-manual-entry></app-manual-entry>
  </section>
  <section *ngIf="!scannerSwitch">
    <app-pass-lookup></app-pass-lookup>
  </section>
</div>
