<header class="app-header app-header--solid" id="header">
    <nav class="navbar navbar-expand-md justify-content-between">
        <a class="navbar-brand" title="EPIC" routerLink="/home">
          <span class="navbar-brand__title">BC PARKS</span>
        </a>
        <div *ngIf="showBanner" class="env-banner" [ngClass]="bannerColour">
          This is the&nbsp;<strong>{{envName}}</strong>&nbsp;environment. The content you are viewing is not final and subject to change.
        </div>
        <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
          data-toggle="collapse"
          data-target="#mainNav"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleNav()">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </button>
    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul class="navbar-nav">
          <!-- LOGGED IN -->
        <li *ngIf="jwt; else loggedOut" class="nav-item" placement="bottom-right">
          <a class="nav-link" id="welcome" tabindex="0">
            <span class="align-middle"><i class="material-icons">person</i></span>
            <span class="align-middle">{{welcomeMsg}}</span>
          </a>
        </li>
        <!-- LOGGED OUT -->
        <ng-template #loggedOut>
          <span class='align-middle p-2'>BC Parks Day Pass Reservation System</span>
          <!-- Placeholder? -->
        </ng-template>
      </ul>
    </div>
  </nav>
</header>
