@import "assets/styles/base/base.scss";

.app-footer {
    background: $bg-dark;
    border-top: none;
    color: $footer-color;
    position: relative;
    .container {
        padding: 0.5rem 1.5rem;
    }

    ul {
        padding: 0;
        font-size: 0.875rem;
        list-style-type: none;
        text-align: center;

        li {
            margin-bottom: 0.25rem;
        }
    }

    a {
        color: $footer-color;

        &:focus,
        &:hover {
            color: $gold;
        }
    }

    .footer-admin {
        margin: 0;
        padding: 0;

        .gov-links {
            text-align: center;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0;
                line-height: 1rem;

                &:after {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    margin-left: 0.5rem;
                    margin-right: 0.25rem;
                    content: '|';
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
