<form [formGroup]="form">
  <div class="form-section">
    <app-passes-filter-fields
      *ngIf="bookingTimesList"
      [passType]="fields?.passType"
      [passTypeOptions]="bookingTimesList"
      [date]="fields?.date"
      [passStatus]="fields?.passStatus"
      [passStatusOptions]="statusesList"
      [firstName]="fields?.firstName"
      [lastName]="fields?.lastName"
      [email]="fields?.email"
      [reservationNumber]="fields?.reservationNumber"
      [overbooked]="fields?.overbooked"
      [overbookedOptions]="overbookedList"

    >
    </app-passes-filter-fields>
    <div class="d-flex justify-content-lg-end">
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</form>
