<div class="fb-container bg-faded">
    <section class="container-fluid-padding"
        id="anchor-point">
        <!-- <div class="spinner-container"
            *ngIf="loading">
            <div class="spinner-new rotating"></div>
        </div> -->
    </section>
    <main class='mx-4'>
        <section>
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between heading-bar">
                <div>
                    <h1 id="name"
                        class="m-0">{{ 'Edit Park Facility Details' || '-' }}</h1>
                </div>
            </div>
            <p class="tab-intro">
                This page will allow the admin to edit a currently existing park featyre.
            </p>
        </section>
        <hr>
        <section>
            <p>
                Park facility edit form UI here.
            </p>
        </section>
    </main>
</div>