<section>
  @if (isHeader && getCurrentScreenSize() > 2) {
    <div class="d-flex row text-nowrap border border-2 border-white">
      @for (col of getHeaderColumns(); track col) {
        <div class="fw-bold px-3 pb-1 accordion-header overflow-hidden {{col?.columnClasses}}"
          [attr.id]="col?.id">
          @if (col?.displayHeader) {
            <div>
              {{col?.displayHeader}}
            </div>
          }
        </div>
      }
      <div class="col-auto" id="cancelButton">
        <!-- Empty col for cancel button header -->
      </div>
      <hr class="mb-1">
    </div>
  }
  @if (!isHeader) {
    <div class="d-flex row mt-2 text-nowrap justify-content-between">
      <div class="col">
        <div class="row d-flex border border-2 accordion-item align-items-center"
          [ngClass]="pass?.isOverbooked ? 'border-danger' : 'border-secondary'">
          @for (col of getHeaderColumns(); track col) {
            <div class="p-3 overflow-hidden {{col?.columnClasses}}"
              [attr.id]="col?.id" [ngClass]="[pass?.isOverbooked ? 'overbooked text-danger' : '']" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#p' + pass?.sk">
              @if (col?.display) {
                <div>
                  {{col?.display(pass)}}
                </div>
              }
              @if (col?.template) {
                <div>
                  <ng-container [ngTemplateOutlet]="col.template" [ngTemplateOutletContext]="{pass: pass}">
                  </ng-container>
                </div>
              }
              @if (!col?.display && !col?.template) {
                <div>
                  {{pass[col?.key]}}
                </div>
              }
            </div>
          }
        </div>
        <!-- Dropdown template for when you click on the pass row -->
        <!-- You can't have an id tag that starts with a digit -->
        @if (!isHeader) {
          <div [attr.id]="'p'+pass?.sk" class="collapse">
            <div class="d-flex row overflow-hidden accordion-item" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#p' + pass?.sk">
              <div class="bg-light">
                <div class="row">
                  @for (col of getDropdownColumns(); track col) {
                    <div class="col-xs-12 col-sm-auto p-3">
                      <strong>{{col?.displayHeader}}</strong>
                      @if (col?.display && !col?.template) {
                        <div>
                          {{col?.display(pass)}}
                        </div>
                      }
                      @if (col?.template) {
                        <div>
                          <ng-container [ngTemplateOutlet]="col.template" [ngTemplateOutletContext]="{pass: pass}">
                          </ng-container>
                        </div>
                      }
                      @if (!col?.display && !col?.template) {
                        <div>
                          {{pass[col?.key]}}
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="col-auto pt-2 border border-2 border-white" id="cancelButton">
        <ng-container [ngTemplateOutlet]="cancelTemplate" [ngTemplateOutletContext]="{pass: pass}"></ng-container>
      </div>
    </div>
  }
</section>