<td data-label="Park Name" scope="row" class="col-4 pointer" (click)="navigate('details')">{{ rowData?.name }}</td>
<td data-label="Type" scope="row" class="col-3 pointer" (click)="navigate('details')">{{ rowData?.type }}</td>
<td data-label="Status" scope="row" class="col-2 pointer" (click)="navigate('details')">
  {{ rowData?.status?.state }}
</td>
<td data-label="Status" scope="row" class="col-2 pointer" (click)="navigate('details')">{{ rowData?.visible }}</td>
<td data-label="Controls" scope="row" class="col-1">
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-outline-secondary btn-sm"
      title="Edit {{ rowData?.name }}"
      (click)="navigate('edit')"
    >
      <span class="material-icons">edit</span>
    </button>
  </div>
</td>
