<td data-label="Park Name"
    scope="row"
    class="col-3">{{rowData.name}}</td>
<td data-label="Type"
    scope="row"
    class="col-2">{{rowData.type}}</td>
<td data-label="Time"
    scope="row"
    class="col-2">{{rowData.time}}</td>
<td data-label="Capacity"
    scope="row"
    class="col-1">{{rowData.capacity}}</td>
<td data-label="Status"
    scope="row"
    class="col-2">{{rowData.status}}</td>
<td data-label="Controls"
    scope="row"
    class="col-2">
    <div class="btn-group btn-block"
        role="group"
        aria-label="Basic example">
        <button type="button"
            class="btn btn-outline-secondary"
            (click)="navigate('details')">
            <span class="material-icons">
                library_books
            </span>
        </button>
        <button type="button"
            class="btn btn-outline-secondary"
            (click)="navigate('edit')">
            <span class="material-icons">
                edit
            </span>
        </button>
    </div>
</td>