<section *ngIf="loading">
    <div class="spinner-container">
        <div class="spinner-new rotating"></div>
    </div>
</section>
<div *ngIf="!loading"
    class="container-fluid-padding-without-header">
    <section>
        <div class="row">
            <div class="col-md-6">
                <label>
                    <strong>
                        Status:
                    </strong>
                </label>
                <p>
                    {{park.status}}
                </p>
            </div>
            <div class="col-md-6">
                <label>
                    <strong>
                        Capacity:
                    </strong>
                </label>
                <p>
                    {{park.capacity ? park.capacity : 'Not set'}}
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <strong>
                    <label>
                        BC Parks Link:
                    </label>
                </strong>
                <br>
                <a href="{{park.bcParksLink}}">
                    {{park.bcParksLink}}
                </a>
            </div>
            <div class="col-md-6">
                <strong>
                    <label>
                        Visible:
                    </label>
                </strong>
                <br>
                <p>
                    {{park.visible}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <strong>
                    <label>
                        Description:
                    </label>
                </strong>
                <p>
                    {{park.description}}
                </p>
            </div>
        </div>
        <hr>
        <br>
        <div class="row facilities-header-bg-colour px-3 pt-4">
            <div class="col-md-7 col-sm-12">
                <h3>Facilities</h3>
            </div>
            <div class="col-md-5 d-none d-sm-block text-right">
                <div class="btn-group btn-group-toggle"
                    data-toggle="buttons">
                    <label class="btn btn-outline-dark">
                        <input type="radio"
                            name="options"
                            id="park-options"
                            (click)="addParkFacility()"> Add Facility
                    </label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row d-block d-sm-none">
            <br>
            <div class="col-12">
                <div class="btn-group btn-group-toggle d-flex"
                    data-toggle="buttons">
                    <label class="btn btn-outline-secondary">
                        <input type="radio"
                            name="options"
                            id="park-options"
                            (click)="addParkFacility()"> Add Facility
                    </label>
                </div>
            </div>
        </div>
    </section>
    <app-facility-list></app-facility-list>
</div>