<h2>Facility Details</h2>
<div class="input-box">
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <div class="w-100 pe-md-4">
      <app-text-input
        [label]="'Facility Name'"
        [control]="facilityName"
        [type]="'text'"
        id="facilityName"
      >
      </app-text-input>
    </div>
    <div class="w-100">
      <app-picklist
        [label]="'Facility Type'"
        [control]="facilityType"
        [selectOptions]="facilityTypesList"
        id="facilityType"
      >
      </app-picklist>
    </div>
  </div>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between pt-2">
    <div class="w-100 pe-md-4 mb-4 mb-sm-0">
      <app-timepicker
        [label]="'Booking Opening Hour'"
        [control]="facilityBookingOpeningHour"
        [id]="'facilityBookingOpeningHour'"
        [showSeconds]="false"
        [is24HTime]="false"
      >
      </app-timepicker>
      <div class="text-muted small">
        If left blank, the default value of 7 AM will be used.
      </div>
    </div>
    <div class="w-100">
      <app-picklist
        [label]="'Booking Days Ahead'"
        [control]="facilityBookingDaysAhead"
        id="facilityBookingDaysAhead"
        [selectOptions]="bookingDaysAheadList"
        [defaultNullDisplay]="'Default (same day + 3 days)'"
      >
      </app-picklist>
    </div>
  </div>
</div>
