<h2>Facility Details</h2>
<div class="input-box">
  <app-text-input
    [label]="'Facility Name'"
    [control]="facilityName"
    [type]="'text'"
    id="facilityName"
  >
  </app-text-input>
  <app-picklist
    [label]="'Facility Type'"
    [control]="facilityType"
    [selectOptions]="facilityTypesList"
    id="facilityType"
  >
  </app-picklist>
  <app-timepicker
    [label]="'Booking Opening Hour'"
    [control]="facilityBookingOpeningHour"
    [id]="facilityBookingOpeningHour"
    [showMinutes]="false"
    [showSeconds]="false"
    [is24HTime]="false"
  >
  </app-timepicker>
  <div class="text-muted small">
    If left blank, the default value of 7 AM will be used.
  </div>
  <app-picklist
    [label]="'Booking Days Ahead'"
    [control]="facilityBookingDaysAhead"
    id="facilityBookingDaysAhead"
    [selectOptions]="bookingDaysAheadList"
    [defaultNullDisplay]="'Default (same day + 3 days)'"
  >
  </app-picklist>
</div>
