<div class="container-fluid-padding-without-header">
    <section *ngIf="loading">
        <div class="spinner-container">
            <div class="spinner-new rotating"></div>
        </div>
    </section>
    <section *ngIf="!loading">
        <div class="row">
            <div class="col-md-6">
                <label>
                    Status:
                </label>
                <p>
                    {{data.status.state}}
                </p>
            </div>
            <div class="col-md-6">
                <label>
                    Type:
                </label>
                <p>
                    {{data.type}}
                </p>
            </div>
        </div>
        <div class="row"
            *ngIf="data.status.state === 'closed'">
            <div class="col-12">
                <label>
                    Closure Reason:
                </label>
                <p>
                    {{data.status.stateReason}}
                </p>
            </div>
        </div>
        <div class="row"
            *ngIf="data.bookingTimes.AM">
            <div class="col-md-6">
                <label>
                    AM Capacity:
                </label>
                <p>
                    {{data.bookingTimes.AM.max}}
                </p>
            </div>
            <div class="col-md-6">
                <label>
                    AM Reservation Count:
                </label>
                <p>
                    {{data.bookingTimes.AM.currentCount}}
                </p>
            </div>
        </div>
        <div class="row"
            *ngIf="data.bookingTimes.PM">
            <div class="col-md-6">
                <label>
                    PM Capacity:
                </label>
                <p>
                    {{data.bookingTimes.PM.max}}
                </p>
            </div>
            <div class="col-md-6">
                <label>
                    PM Reservation Count:
                </label>
                <p>
                    {{data.bookingTimes.PM.currentCount}}
                </p>
            </div>
        </div>
        <div class="row"
            *ngIf="data.bookingTimes.DAY">
            <div class="col-md-6">
                <label>
                    All Day Capacity:
                </label>
                <p>
                    {{data.bookingTimes.DAY.max}}
                </p>
            </div>
            <div class="col-md-6">
                <label>
                    All Day Reservation Count:
                </label>
                <p>
                    {{data.bookingTimes.DAY.currentCount}}
                </p>
            </div>
        </div>
        <hr>
        <br>
    </section>
    <section>
        <div class="row passes-header-bg-colour px-3 pt-4">
            <div class="col-md-7 col-sm-12">
                <h3>Passes</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <button class="btn btn-primary"
                    (click)="exportCsv()">Export to .csv</button>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
                <div class="btn-group btn-group-toggle d-flex justify-content-end"
                    data-toggle="buttons">
                    <label class="btn btn-outline-secondary"
                        [ngClass]="{'active': navSelected === 'AM'}">
                        <input type="radio"
                            name="options"
                            id="option1"
                            (click)="navigate('AM')"> AM
                    </label>
                    <label class="btn btn-outline-secondary"
                        [ngClass]="{'active': navSelected === 'PM'}">
                        <input type="radio"
                            name="options"
                            id="option2"
                            (click)="navigate('PM')"> PM
                    </label>
                    <label class="btn btn-outline-secondary"
                        [ngClass]="{'active': navSelected === 'DAY'}">
                        <input type="radio"
                            name="options"
                            id="option3"
                            (click)="navigate('DAY')"> All Day
                    </label>
                </div>
            </div>
        </div>
    </section>
    <br>
    <app-pass-list></app-pass-list>
</div>