<section *ngIf="loadingFacility">
  <div class="spinner-container">
    <div class="spinner-new rotating"></div>
  </div>
</section>
<div class="container-fluid-padding-without-header">
  <section *ngIf="!loadingFacility">
    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Status:</strong>
        </label>
        <p>
          {{ facility.status.state }}
        </p>
      </div>
      <div class="col-md-6">
        <label>
          <strong>Visible:</strong>
        </label>
        <p>
          {{ facility.visible || '-' }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Closure Reason:</strong>
        </label>
        <p>
          {{ facility.status.stateReason || '-' }}
        </p>
      </div>
      <div class="col-md-6">
        <label>
          <strong>Type:</strong>
        </label>
        <p>
          {{ facility.type }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Booking Opening Time:</strong>
        </label>
        <p>
          {{ bookingOpeningHourText }}
          <small *ngIf="facility.bookingOpeningHour === null">(default)</small>
        </p>
      </div>
      <div class="col-md-6">
        <label>
          <strong>Booking Days Ahead:</strong>
        </label>
        <p>
          {{ bookingDaysAheadText }}
          <small *ngIf="facility.bookingDaysAhead === null">(default)</small>
        </p>
      </div>
    </div>
    <div class="row" *ngIf="facility?.bookingTimes.AM">
      <div class="col-md-6">
        <label>
          <strong>AM Capacity:</strong>
        </label>
        <p>
          {{ facility?.bookingTimes.AM.max }}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="facility?.bookingTimes.PM">
      <div class="col-md-6">
        <label>
          <strong>PM Capacity:</strong>
        </label>
        <p>
          {{ facility?.bookingTimes.PM.max }}
        </p>
      </div>
    </div>
    <div class="row" *ngIf="facility?.bookingTimes.DAY">
      <div class="col-md-6">
        <label>
          <strong>All Day Capacity:</strong>
        </label>
        <p>
          {{ facility?.bookingTimes.DAY.max }}
        </p>
      </div>
    </div>
    <hr />
    <br />
  </section>
  <section>
    <div class="row passes-header-bg-colour px-3 pt-4">
      <div class="col-lg-7 col-12">
        <h3>Passes</h3>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12 col-lg-7">
        <label>
          <strong>
            <span *ngIf="bookingTimeSummary.reserved === null">
              To display capacity levels, you must filter by a date.
            </span>
            <div *ngIf="bookingTimeSummary.reserved !== null">
              <span>{{ bookingTimeSummary.reserved }}/{{ bookingTimeSummary.capacity }}&nbsp;</span>
              <span class="text-success" *ngIf="bookingTimeSummary.modifier > 0">
                (+{{ bookingTimeSummary.modifier }})&nbsp;
              </span>
              <span class="text-danger" *ngIf="bookingTimeSummary.modifier < 0">
                ({{ bookingTimeSummary.modifier }})&nbsp;
              </span>
              <span>passes reserved</span>
            </div>
            <div *ngIf="bookingTimeSummary.modifier > 0 || bookingTimeSummary.modifier < 0" class="text-muted">
              <small>Modifier applied</small>
            </div>
          </strong>
        </label>
        <ngb-progressbar
          [showValue]="true"
          type="{{ bookingTimeSummary.style }}"
          [value]="bookingTimeSummary.capPercent"
          height="1.5rem"
        ></ngb-progressbar>
      </div>
      <div class="col-12 col-lg-5 mt-4 mt-lg-auto">
        <div class="d-flex justify-content-lg-end">
          <button
            [disabled]="loadingAM || loadingPM || loadingDAY || passes.length === 0"
            class="btn btn-primary mr-1"
            (click)="exportCsv()"
          >
            Export to .csv
          </button>
          <button
            [disabled]="loadingAM || loadingPM || loadingDAY || passes.length === 0"
            class="btn btn-primary mr-1"
            (click)="print()"
          >
            Print
          </button>
          <button
            [disabled]="loadingAM || loadingPM || loadingDAY || passes.length === 0"
            class="btn btn-primary"
            (click)="copyEmails()"
          >
            Copy Emails
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row mt-3">
      <div class="col-12">
        <app-form-generator
          [loadingStatus]="loadingSearch"
          [formComponents]="formComponents"
          (submitEvent)="filterPasses($event)"
        ></app-form-generator>
      </div>
    </div>
  </section>

  <section>
    <app-pass-list [parkSk]="parkSk" [facilitySk]="facilitySk" [time]="passTypeSelected"></app-pass-list>
  </section>
</div>

<div id="print-area">
  <table>
    <thead>
      <tr style="border: 1px solid black">
        <th scope="col">Reg #</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>

        <th *ngIf="facility?.type === 'Trail'" scope="col">Guests</th>
        <th *ngIf="facility?.type === 'Facility'" scope="col">License</th>

        <th scope="col">Facility</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pass of passes">
        <td>{{ pass.registrationNumber }}</td>
        <td>{{ pass.firstName }}</td>
        <td>{{ pass.lastName }}</td>
        <td>{{ pass.email }}</td>
        <td>{{ pass.phoneNumber }}</td>

        <td *ngIf="facility?.type === 'Trail'">{{ pass.numberOfGuests }}</td>
        <td *ngIf="facility?.type === 'Facility'">{{ pass.license }}</td>

        <td>{{ pass.facilityType }}</td>
        <td>{{ convertDate(pass.date) }}</td>
        <td>{{ pass.passStatus }}</td>
      </tr>
    </tbody>
  </table>
</div>
