<div class="container-fluid-padding-without-header">
    <section *ngIf="loading">
        <div class="spinner-container">
            <div class="spinner-new rotating"></div>
        </div>
    </section>
    <section *ngIf="!loading">
        <div class="row">
            <div class="col-6">
                <label>
                    Status:
                </label>
                <p>
                    {{data.status.state}}
                </p>
            </div>
            <div class="col-6">
                <label>
                    Type:
                </label>
                <p>
                    {{data.type}}
                </p>
            </div>
        </div>
        <hr>
        <br>
    </section>
    <section>
        <div class="row bg-colour px-3 pt-4">
            <div class="col-md-7 col-sm-12">
                <h3>Passes</h3>
            </div>
        </div>
        <br>
        <app-pass-list></app-pass-list>
    </section>
</div>