<div class="container-fluid-padding-without-header">
    <section *ngIf="loading">
        <div class="spinner-container">
            <div class="spinner-new rotating"></div>
        </div>
    </section>

    <section>
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between heading-bar">
            <div *ngIf="!loading">
                <h1 *ngIf="isNewPark"
                    id="name"
                    class="m-0">Add New Park</h1>
                <h1 *ngIf="!isNewPark"
                    id="name"
                    class="m-0">Edit Park: {{ park.name }}</h1>
            </div>
        </div>
        <p class="tab-intro">
            Changes to park information will be reflected in the BC Parks Day Pass Reservation System public
            site.
        </p>
    </section>

    <hr>

    <section *ngIf="!loading">
        <form [formGroup]="parkForm"
            (ngSubmit)="submitForm()">

            <div class="row">
                <div class="col-12">
                    <div class="form-group custom-control custom-switch">
                        <input type="checkbox"
                            class="custom-control-input"
                            id="status"
                            formControlName="status">
                        <label class="custom-control-label d-inline-flex"
                            for="status">
                            Status:
                            <div *ngIf="parkForm.get('status').value"
                                class="mx-1 text-success">Park is open.</div>
                            <div *ngIf="!parkForm.get('status').value"
                                class="mx-1 text-secondary">Park is closed.
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group custom-control custom-switch">
                        <input type="checkbox"
                            class="custom-control-input"
                            id="visible"
                            formControlName="visible">
                        <label class="custom-control-label d-inline-flex"
                            for="visible">
                            Visibility:
                            <div *ngIf="parkForm.get('visible').value"
                                class="mx-1 text-primary">
                                Park is visible to the public.
                            </div>
                            <div *ngIf="!parkForm.get('visible').value"
                                class="mx-1 text-secondary">
                                Park is not visible to the public.
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Name <span class="text-danger">*</span></label>
                    <input type="text"
                        class='form-control'
                        id="name"
                        formControlName="name"
                        placeholder="Enter park name"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="capacity">Capacity</label>
                    <input type="number"
                        class='form-control'
                        id="capacity"
                        formControlName="capacity"
                        placeholder="Enter park capacity">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12">
                    <label for="bcParksLink">Link to BC Parks Site <span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input id="bcParksLink"
                            formControlName="bcParksLink"
                            class="form-control"
                            type="text"
                            placeholder="Paste link here">
                        <div class="input-group-append">
                            <button (click)="testLink()"
                                [disabled]="!parkForm.get('bcParksLink').value"
                                class="btn btn-primary"
                                type="button">Test Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12">
                    <label for="mapLink">Link to Map</label>
                    <div class="input-group">
                        <input id="mapLink"
                            formControlName="mapLink"
                            class="form-control"
                            type="text"
                            placeholder="Paste link here">
                        <div class="input-group-append">
                            <button (click)="testMapLink()"
                                [disabled]="!parkForm.get('mapLink').value"
                                class="btn btn-primary"
                                type="button">Test Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row justify-content-between">
                    <div class='col-6'>
                        <label for="description">Description <span class="text-danger">*</span></label>
                    </div>
                </div>
                <editor formControlName="description"
                    [init]="{
                      base_url: '/dayuse/tinymce',
                      suffix: '.min',
                      height: 500,
                      menubar: false,
                      plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount link'
                      ],
                      toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | link | \
                        bullist numlist outdent indent | removeformat | help'
                    }"></editor>
            </div>
        </form>

        <div *ngIf="parkForm.invalid"
            class="row">
        </div>
        <div class="row">
            <div class="col-md-2">
                <!-- <button *ngIf="!isNewPark"
                    class="btn btn-danger icon-button"
                    (click)="delete()"><span class="material-icons mr-1">delete</span>Delete</button> -->
            </div>
            <div class="col-md-10 mt-3 mt-md-0">
                <div class="d-flex justify-content-md-end">
                    <button class='btn btn-danger mr-1'
                        [disabled]="saving"
                        (click)="cancel()">
                        Cancel
                    </button>
                    <button class='btn btn-secondary mx-1'
                        [disabled]="parkForm.pristine || saving"
                        (click)="resetForm()">
                        Reset Form
                    </button>
                    <button class='btn btn-primary ml-1'
                        [disabled]="parkForm.invalid || saving"
                        (click)="submitForm()">
                        <span *ngIf="!saving">
                            Save Park
                        </span>
                        <span *ngIf="saving"
                            class="material-icons rotating">
                            autorenew
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>