<div class="container-fluid-padding">
    <section *ngIf="!loading">
        <div class="bg-colour p-3">
            <h1>{{facility.name}}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Status: {{facility.status}}
                </p>
            </div>
            <div class="flex-fill"></div>
            <div class="d-flex justify-content-md-end mx-3">
                <div class="btn-group btn-group-toggle"
                    data-toggle="buttons">
                    <label class="btn btn-primary"
                        [ngClass]="{'active': navSelected === 'details'}">
                        <input type="radio"
                            name="options"
                            id="option1"
                            (click)="navigate('details')"> Facility Details
                    </label>
                    <label class="btn btn-primary"
                        [ngClass]="{'active': navSelected === 'edit'}">
                        <input type="radio"
                            name="options"
                            id="option2"
                            (click)="navigate('edit')"> Edit Facility
                    </label>
                </div>
            </div>
        </div>
    </section>
    <hr>
</div>

<router-outlet></router-outlet>