@use "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

.home-button {
  font-size: 1.5rem;

  .bi {
    vertical-align: middle !important;
  }
}

.btn-link {
  text-decoration: none !important;
  color: variables.$primary !important;
}
