<div class="container-fluid-padding-without-header">
    <div class="row">
        <div class="col-3">
            <label>
                First Name:
            </label>
            <p>
                {{data.firstName}}
            </p>
        </div>
        <div class="col-3">
            <label>
                Last Name:
            </label>
            <p>
                {{data.lastName}}
            </p>
        </div>
        <div class="col-3">
            <label>
                Email:
            </label>
            <p>
                {{data.email}}
            </p>
        </div>
        <div class="col-3">
            <label>
                Registration Number:
            </label>
            <p>
                {{data.registrationNumber}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>
                Number of Guests:
            </label>
            <p>
                {{data.numberOfGuests}}
            </p>
        </div>
    </div>
</div>