<!-- <form (ngSubmit)="onSubmit()" #passForm="ngForm">
  <div class="row row-cols-1 row-cols-lg-3 gy-3">
    <div class="col form-group">
      <label class="fw-bold" for="parks">Park *</label>
      <select
        class="form-control form-select"
        id="parks"
        [(ngModel)]="model.park"
        name="parks"
      >
        <option *ngFor="let park of parks" [value]="park.value">
          {{ park.label }}
        </option>
      </select>
    </div>

    <div class="col form-group">
      <label class="fw-bold" for="facility">Facility</label>
      <input
        type="text"
        class="form-control"
        id="facility"
        [(ngModel)]="model.facility"
        name="facility"
      />
    </div>

    <div class="col form-group">
      <label class="fw-bold" for="reservation-number">Reservation Number</label>
      <input
        type="text"
        class="form-control"
        id="reservation-number"
        [(ngModel)]="model.reservationNumber"
        name="reservation-number"
      />
    </div>

    <div class="col form-group">
      <label class="fw-bold" for="first-name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="first-name"
        [(ngModel)]="model.firstName"
        name="first-name"
      />
    </div>

    <div class="col form-group">
      <label class="fw-bold" for="last-name">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="last-name"
        [(ngModel)]="model.lastName"
        name="last-name"
      />
    </div>

    <div class="col form-group">
      <label class="fw-bold" for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="model.email"
        name="email"
      />
    </div>
  </div>

  <div class="d-flex justify-content-end my-3">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!passForm.form.valid"
    >
      Search
    </button>
  </div>
</form> -->
