@import "~assets/styles/base/base.scss";

.table {
    border: none;

    thead th {
        background-color: #e8eff5;
        padding: 0.7rem 0.5rem 0.85rem;
        border: none;
    }

    td {
        border: none;
    }

    tr {
        border: none;
    }

    tbody td {
        padding: 1.25rem 0.5rem;
    }

    tr td:first-child,
    tr th:first-child {
        padding-left: 1rem;
        @media screen and (max-width: 600px) {
            padding-left: 0.5rem;
        }
    }

    thead {
        border-bottom: none;
    }
}

.no-sort {
    cursor: default !important;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover,
.ant-btn-primary,
.ant-select-dropdown-menu-item-active,
.ant-pagination-item-active,
.ant-select-dropdown-menu-item:hover {
    background: #007bff !important;
    color: #fff !important;
}
.ant-pagination-item-active a,
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
    color: #fff !important;
}
.ant-pagination-item-container .ant-pagination-item-link-icon {
    color: #007bff;
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    background: #007bff !important;
    color: #fff !important;
}
.show_all_btn {
    margin-left: 10px;
}

.search-list {
    &__options {
        @include flex(0 0 auto);
        padding: 1rem 0rem;
        mat-slide-toggle {
            white-space: normal;
        }
    }
}

// Move somewhere global
h1 {
    letter-spacing: -0.05rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.03rem;

    strong {
        font-weight: 400;
    }
}

.btn-sm {
    i {
        margin-top: -0.1rem;
    }

    margin-right: 0.5rem;
}

.btn-search-help {
    padding: 0.75rem 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all ease-out 0.2s;
    cursor: pointer;
    font-weight: 600;

    .material-icons {
        font-size: 20px;
        margin-top: -3px;
        margin-right: 2px;
    }
}

// Search Container
.search-container {
    padding-bottom: 0.5rem;
}

.search-result {
    margin-top: 14px;
    margin-bottom: 0;
}

.table-container {
    background-color: white;
}

form {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    label {
        margin-bottom: 1rem;
    }
}

.search-area {
    background-color: white;
    border: 1px solid lightgray;
}

.main-search-field {
    padding: 8px;

    input {
        height: 3rem;
        color: #000;
        font-size: 1.15rem;

        &:-webkit-autofill {
            box-shadow: 0 0 0 30px white inset;
        }
    }

    button {
        min-width: 10rem;
        font-weight: 700;
        background: #fcba18;
        color: #003367;
        border: none;

        .material-icons {
            font-size: 20px;
            margin-top: -2px;
            margin-right: 2px;
        }
    }

    .input-group-addon {
        font-size: 1.15rem;
    }
}

.search-disclaimer {
    font-size: 12px;
    line-height: 20px;
    margin: 8px 8px 8px 0px;
    padding-left: 12px;
    color: gray;
}

.show-advanced-search-button .btn {
    float: right;
    margin-right: 8px !important;
    width: 200px;
}

.advanced-search {
    position: relative;

    hr {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
    }

    .project-filter {
        margin-left: 15px;
        margin-top: 10px;
        margin-right: 176px;
        margin-bottom: 10px;
    }

    .filter-border {
        border: solid 1px lightgray;
        padding: 15px;
        min-width: 155px;
    }

    .more-filters {
        margin-left: 8px;

        .sub-filters {
            margin-left: 0px;

            hr {
                margin-left: -1rem;
            }
        }
    }

    .sub-filter {
        margin-left: 0px;
        margin-bottom: -15px;
    }

    .btn {
        margin: 8px 0px 8px 8px;
    }

    .calendar {
        margin: 0px;
    }

    .date {
        margin-left: 0px;
    }

    .date-range {
        margin-left: -15px;

        .form-control {
            z-index: 0px !important;
        }
    }

    .form-check label {
        padding-left: 0.25rem;
        font-size: 1rem;
    }

    .search-button {
        position: absolute;
        right: 8px;
        bottom: -7px;
        min-width: 10rem;
        font-weight: 700;
        background: #fcba18;
        color: #003367;
        border: none;

        .material-icons {
            font-size: 20px;
            margin-top: -2px;
            margin-right: 2px;
        }
    }
}

.form-text {
    margin-top: 0.55rem;
    font-size: 0.85rem;
}

// Search Results Table
$sr-table-row-bg: #f7f8fa;

.search-results {
    table {
        margin-top: 0.5rem;
        table-layout: fixed;
    }

    th {
        padding: 0.5rem 1rem;
        overflow: hidden;
        border: none;
        background: $sr-table-row-bg;
        text-overflow: ellipsis;
        font-size: 0.875rem;
    }

    td {
        padding-top: 1.25rem;
        padding-right: 1rem;
        padding-bottom: 1.25rem;
        padding-left: 1rem;
        border: none;
        background: $sr-table-row-bg;
        line-height: 1.15rem;
        font-size: 0.9375rem;
    }
}

.disp {
    width: 5.5rem;
}

.status {
    max-width: 13rem;
}

.actions {
    width: 9rem;
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;

    .btn {
        margin-top: -0.35rem;
        width: 6rem;
        border-width: 2px;
        font-weight: 700;
    }
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 0.5rem #999;
    font-size: 0.875rem;

    button {
        padding: 0.5rem 1rem;
        color: #007bff;

        i {
            margin-top: -0.15rem;
            vertical-align: middle;
            margin-right: 0.25rem;
            margin-left: -0.25rem;
            font-size: 1.25rem;
            width: 1.5rem;
        }

        &:hover {
            color: #fff;
            background: #007bff;
        }
    }
}

.dropdown-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.dropdown-item:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.ant-pagination-item:focus,
.ant-pagination-item:hover,
.ant-btn-primary,
.ant-select-dropdown-menu-item-active,
.ant-pagination-item-active,
.ant-select-dropdown-menu-item:hover {
    background: #007bff !important;
    color: #fff !important;
}

.ant-pagination-item-active a,
.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
    color: #fff !important;
}

.ant-pagination-item-container .ant-pagination-item-link-icon {
    color: #007bff;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
    background: #007bff !important;
    color: #fff !important;
}

.show_all_btn {
    margin-left: 10px;
}

.btn-group-toggle > .btn {
    margin-bottom: 0;
    border-radius: 24px;
    background: none;
    color: #003367;
    border: 2px solid #003367;
    font-weight: 600;
    margin-right: 10px;
    &:hover {
        background: #fcb118;
    }

    &.active {
        background: #003367;
        color: #fff;
    }
}

.active-flag {
    background: #5bb75c;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 3px 8px 4px;
    border-radius: 5px;
    font-size: 0.8rem;
}
