<div class="table-template">
  <div class="row mb-3"
    *ngIf="data.options.showTopControls">
    <div class="col-md-12 col-lg-6 text-lg-left text-center mb-lg-0 mb-3">
      <lib-page-count-display *ngIf="data.options.showPageCountDisplay"
        [isHidden]="false"
        [currentPageNum]="data.currentPage"
        [currentPageSize]="data.pageSize"
        [totalItems]="data.totalListItems"
        id="table-template-page-count-display"></lib-page-count-display>
    </div>
    <div class="col-md-12 col-lg-6 text-lg-right text-center">
      <pagination-controls *ngIf="data.options.showPagination"
        (pageChange)="onUpdatePageNumber($event)"
        id="{{this.data.tableId}}"
        autoHide="true"
        responsive="true"></pagination-controls>
    </div>
  </div>
  <table class="table"
    aria-label="table-template">
    <thead class="thead-light"
      *ngIf="data.options.showHeader">
      <tr>
        <th *ngFor="let entry of data.columns"
          id="table-template-header"
          class="project-table__name-col"
          (click)="!entry.nosort && onSort(entry.value)"
          [ngClass]="[entry.width, !entry.nosort ? 'sortable' : '']">
          {{ entry.name }}
          <i *ngIf="entry.nosort !== true"
            class="sort"
            [ngClass]="{
              'sort-asc': data.sortBy.slice(1) == entry.value && data.sortBy.charAt(0) === '+',
              'sort-desc': data.sortBy.slice(1) == entry.value && data.sortBy.charAt(0) === '-'
            }"
            aria-hidden="true"></i>
        </th>
      </tr>
    </thead>
    <tbody [ngClass]="data.options.disableRowHighlight ? '' : 'highlight'">
      <ng-container *ngFor="
          let item of data.items
            | paginate
              : {
                  id: data.tableId,
                  itemsPerPage: data.pageSize,
                  currentPage: data.currentPage,
                  totalItems: data.totalListItems
                }
        "
        [libTableRow]="item"
        [tableData]="data"
        [messageIn]="messageIn"
        (messageOut)="onMessageOut($event)">
        <div [style.margin-bottom.px]="data.options.rowSpacing"></div>
        </ng-container>
    </tbody>
  </table>
  <div class="table-controls-bottom">
    <div class="row">
      <div class="col-md-12 col-lg-6 text-lg-left text-center mb-lg-0 mb-3">
        <lib-page-size-picker *ngIf="data.options.showPageSizePicker && data.totalListItems > 10"
          [isHidden]="false"
          [currentPageSize]="data.pageSize"
          [sizeOptions]="data.pageSizeOptions"
          (pageSizeChosen)="onUpdatePageSize($event)"
          id="table-template-page-size-picker"></lib-page-size-picker>
      </div>
      <div class="col-md-12 col-lg-6 text-lg-right text-center">
        <pagination-controls *ngIf="data.options.showPagination"
          (pageChange)="onUpdatePageNumber($event)"
          id="{{data.tableId}}"
          autoHide="true"
          responsive="true"></pagination-controls>
      </div>
    </div>
  </div>
</div>