<div class="outer-container">
  <div class="inner-container">
    <h1>Day Use Pass Admin</h1>
    <p>Select the ID you want to use to log into the Day Use Pass Admin system.</p>
    <p>
      <a [href]="bcscLoginUrl" class="btn">Log in with BC Services Card</a>
      <br />
      <a
        href="https://www2.gov.bc.ca/gov/content/governments/government-id/bcservicescardapp/setup"
        class="reg-link"
        target="_blank"
      >
        <mat-icon>launch</mat-icon>
        Set up the BC Services Card App
      </a>
    </p>
    <p>
      <a [href]="bceidLoginUrl" class="btn">Log in with BCeID</a>
      <br />
      <a
        href="https://www.bceid.ca/directories/bluepages/details.aspx?serviceId=7852&eServiceType=all"
        class="reg-link"
        target="_blank"
      >
        <mat-icon>launch</mat-icon>
        Register for a BCeID
      </a>
    </p>
    <p><a [href]="idirLoginUrl" class="btn">Log in with IDIR</a></p>
  </div>
</div>
