<div class="pt-3 container-fluid">
  <h1>Site Metrics</h1>
  <hr />
  <app-metrics-filter></app-metrics-filter>
  <div *ngIf="noData"
    class="bg-light d-flex flex-column h-100 justify-content-center align-items-center p-2 empty-page mb-3 text-center">
    {{loading ? 'Loading...' : 'Select a date range display data.'}}
  </div>
  <div *ngIf="!noData">
    <!-- Loading element when API ready -->
    <div class="mb-4">
      <h2 *ngIf="parkName && !facilityName">Data for {{ parkName }}</h2>
      <h2 *ngIf="parkName && facilityName">Data for {{ parkName }}: {{ facilityName }}</h2>
      <h3 *ngIf="dateRange && dateRange[0] === dateRange[1]">On {{dateRange[0] | date: 'longDate'}}</h3>
      <h3 *ngIf="dateRange && dateRange[0] !== dateRange[1]">From {{dateRange[0] | date: 'longDate'}} to {{dateRange[1]
        | date: 'longDate'}}</h3>
      <div class="row d-flex">
        <div class="col-12 col-md-4 row flex-column mx-auto gy-3 justify-content-between">
          <app-metric-card class="metric-card px-0 mt-0" [title]="'Total number of passes'">
            <app-basic-metric [value]="passTotals?.total" [animate]="true" [animationJitter]="true"> </app-basic-metric>
          </app-metric-card>
          <app-metric-card class="metric-card px-0" [title]="'Active passes'">
            <app-basic-metric [value]="passTotals?.active" [animate]="true" [animationJitter]="true">
            </app-basic-metric>
          </app-metric-card>
          <app-metric-card class="metric-card px-0" [title]="'Reserved passes'">
            <app-basic-metric [value]="passTotals?.reserved" [animate]="true" [animationJitter]="true">
            </app-basic-metric>
          </app-metric-card>
          <app-metric-card class="metric-card px-0 mb-0" [title]="'Expired passes'">
            <app-basic-metric [value]="passTotals?.expired" [animate]="true" [animationJitter]="true">
            </app-basic-metric>
          </app-metric-card>
        </div>
        <div class="col-12 col-md-8 mt-0 pt-3">
          <div class="p-3 card h-100">
            <div class="d-flex justify-content-between mb-3"> 
              <h4>Pass breakdown by status</h4>
              <button
                id="exportStatusReportButton"
                [disabled]="loading || !doughnutData"
                class="btn btn-primary mr-1 d-none" 
                (click)="exportPassStatusData()">
                <i class="bi bi-download"></i>
              </button>
            </div>
            <div *ngIf="!doughnutData"
              class="bg-light d-flex flex-column h-100 justify-content-center align-items-center p-2 text-center">
              {{loading ? 'Loading...' : 'No passes found.'}}
            </div>
            <app-chart-metric *ngIf="doughnutData" class="d-block position-relative h-100" [type]="'doughnut'"
              [labels]="doughnutLabels" [datasets]="doughnutData" [options]="doughnutOptions"
              [plugins]="doughnutPlugins"></app-chart-metric>
          </div>
        </div>
        <div class="col-12 mt-0 pt-3">
          <div class="p-3 card" style="height: 450px">
            <div class="d-flex justify-content-between mb-3"> 
              <h4>Pass activity by day</h4>
              <button 
                id="exportCapacityReportButton"
                [disabled]="loading || !barChartData"
                class="btn btn-primary mr-1" 
                (click)="exportCapacityData()">
                <i class="bi bi-download"></i>
              </button>
            </div>
            <div *ngIf="!barChartData"
              class="bg-light d-flex flex-column h-100 justify-content-center align-items-center p-2 text-center">
              <div *ngIf="loading">
                Loading...
              </div>
              <div *ngIf="!loading">
                {{singleFacility ? 'No data.' : 'Please select a single facility to view daily pass activity.'}}
              </div>
            </div>
            <app-chart-metric *ngIf="singleFacility && barChartData" class="h-100" [type]="'bar'" [labels]="barChartLabels"
              [datasets]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"></app-chart-metric>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>