<div class="container-fluid-padding-without-header">
    <section *ngIf="loading">
        <div class="spinner-container">
            <div class="spinner-new rotating"></div>
        </div>
    </section>

    <section *ngIf="!loading && data.length > 0">
        <app-list [tableRowComponent]="tableRowComponent"
            [tableColumns]="tableColumns"
            [data]="data"
            [totalListItems]=totalListItems></app-list>
    </section>

    <section *ngIf="data.length === 0">
        There are no parks to display.
    </section>
</div>