<label *ngIf="label" for="{{ id }}" class="fw-bold mb-2"
  >{{ label
  }}<span *ngIf="isRequired()" class="text-danger">&nbsp;*</span></label
>
<p>
  <small class="text-muted" *ngIf="subLabel">
    {{ subLabel }}
  </small>
</p>
<div>
  <editor
    [formControl]="control"
    id="{{ id }}"
    [init]="{
      base_url: '/dayuse/tinymce',
      suffix: '.min',
      height: 300,
      menubar: false,
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
    alignleft aligncenter alignright alignjustify | link | \
    bullist numlist outdent indent | removeformat | help'
    }"
  ></editor>
</div>
