@if (label) {
  <label for="{{ id }}" class="h2 mb-2"
    >{{ label
    }}@if (isRequired()) {
    <span class="text-danger">&nbsp;*</span>
    }</label
    >
  }
  <p>
    @if (subLabel) {
      <small class="text-muted">
        {{ subLabel }}
      </small>
    }
  </p>
  <div>
    <editor
      [formControl]="control"
      id="{{ id }}"
    [init]="{
      base_url: '/dayuse/tinymce',
      suffix: '.min',
      height: 300,
      menubar: false,
      plugins: 'link',
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
    alignleft aligncenter alignright alignjustify | link | \
    bullist numlist outdent indent | removeformat | help'
    }"
    ></editor>
  </div>
