.capacity-bar-top {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.capacity-bar-bottom {
  border-top: 1px solid #ccc;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}