<form [formGroup]="form">
    <div class="row">
        <div *ngFor="let obj of datePickerArray"
            class="col-lg-4 col-md-12">
            <label>
                {{obj.label}}
            </label>
            <lib-date-picker [id]="obj.label"
                [control]="form.get(obj.value)"
                [reset]="resetControls">
            </lib-date-picker>
        </div>
        <div *ngFor="let obj of textSearchArray"
            class="col-lg-4 col-md-12">
            <label for="{{obj.value}}">
                {{obj.label}}
            </label>
            <input type="text"
                class='form-control'
                id="{{obj.value}}"
                formControlName="{{obj.value}}">
        </div>
    </div>
    <div class="float-right">
        <button class="btn btn-primary"
            [disabled]="loadingStatus"
            (click)="submit()">
            <span *ngIf="!loadingStatus">
                Search
            </span>
            <span *ngIf="loadingStatus"
                class="material-icons rotating">
                autorenew
            </span>
        </button>
    </div>
</form>