<form [formGroup]="form">
  <div class="form-section">
    <app-facility-edit-form-publishing-details
      [facilityStatus]="fields?.facilityStatus"
      [facilityClosureReason]="fields?.facilityClosureReason"
      [facilityVisibility]="fields?.facilityVisibility"
    >
    </app-facility-edit-form-publishing-details>
  </div>
  <div class="form-section">
    <app-facility-edit-form-details
      [facilityName]="fields?.facilityName"
      [facilityType]="fields?.facilityType"
      [facilityBookingOpeningHour]="fields?.facilityBookingOpeningHour"
      [facilityBookingDaysAhead]="fields?.facilityBookingDaysAhead"
    >
    </app-facility-edit-form-details>
  </div>
  <div class="form-section">
    <app-facility-edit-form-pass-requirements
      [facilityPassesRequired]="fields?.facilityPassesRequired"
      [facilityBookingDays]="fields?.facilityBookingDays"
      [facilityBookingTimes]="fields?.facilityBookingTimes"
      [facilityBookingDaysRichText]="fields?.facilityBookingDaysRichText"
    >
    </app-facility-edit-form-pass-requirements>
  </div>
  <div class="m-4">
    <button
      class="btn btn-primary me-2"
      (click)="onSubmit()"
      [disabled]="!isFormValid()"
    >
      Submit
    </button>
    <button
      class="btn btn-secondary me-2"
      (click)="setForm()"
      [disabled]="form?.pristine"
    >
      Reset
    </button>
    <button
      class="btn btn-outline-danger"
      (click)="navigateBack()"
    >
      Cancel
    </button>
  </div>
</form>

<!-- Here is where we store the templates for the specific modals shown from this page.  -->
<!-- They are not rendered until clicked. -->
<ng-template #facilityEditConfirmationTemplate>
  <app-modal [modal]="facilityEditModal"></app-modal>
</ng-template>