<div class="container-fluid-padding">
    <h1>Site Metrics</h1>

    <hr>
    <div class="mt-2 card-deck">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Passes</h3>
          <p class="card-text">All Passes By status</p>
          <div class="mt-lg-auto">
            <div class="d-flex justify-content-lg-end">
              <button
                [disabled]="isGenerating"
                class="btn btn-primary mr-1"
                (click)="exportPassData()">
                {{buttonText}}&nbsp;
                <div style="vertical-align: middle;" *ngIf="isGenerating" class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="card-footer" style="height: 300px">
          <canvas id="chart1" #chart1></canvas>
        </div>
      </div>
    </div>
</div>