h1 {
  font-size: 2rem;
  font-weight: bold;;
}

.outer-container {
  background: $login-page-bg;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 92px);
  padding-top: 5rem;
}

.inner-container {
  background: $login-page-form-bg;
  width: 80%;
  max-width: 50rem;
  padding: 2.5rem;
  height: fit-content;
  text-align: center;
  border: 1px solid $login-page-form-border;
}

@media screen and (max-width: 768px) {
  .outer-container {
    display: block;
    padding-top: 0;
    background-color: $login-page-form-bg;
  }

  .inner-container {
    background: $login-page-form-bg;
    max-width: 100%;
    border: none;
  }
}
