<app-header [showSideBar]="showSideBar"></app-header>
<app-infinite-loading-bar></app-infinite-loading-bar>
<div class="content d-flex">
  @if (showSideBar) {
    <app-sidebar class="d-none d-lg-inline"></app-sidebar>
  }
  <div class="w-100">
    @if (showSideBar) {
      <app-toggle-button
        class="d-none d-lg-inline"
      ></app-toggle-button>
    }
    @if (showBreadCrumb) {
      <app-breadcrumb></app-breadcrumb>
    }
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer class="footer"></app-footer>
