<form [formGroup]="modifierForm">
  <div class="mt-4">
    <h5>Capacity changes</h5>
    <p class="text-secondary">
      To increase capacity, enter a positive number. To reduce capacity, enter a negative number (e.g., -50). Note that
      reducing capacity could lead to overbooked passes.
    </p>
    <div *ngIf="modifierForm" class="shading-light px-3 py-3">
      <div class="row">
        <div class="col-lg-4 col-12">
          <label for="date">Override date</label>
          <lib-date-picker
            [id]="date"
            [minDate]="today"
            [reset]="reset"
            [control]="modifierForm.get('date')"
          ></lib-date-picker>
        </div>
        <div class="col-lg-2">
          <label for="AM">AM Changes</label>
          <input type="number" class="form-control" id="AM" formControlName="AM" aria-describedby="AM Change" />
        </div>
        <div class="col-lg-2">
          <label for="PM">PM Changes</label>
          <input type="number" class="form-control" id="PM" formControlName="PM" aria-describedby="PM Change" />
        </div>
        <div class="col-lg-2">
          <label for="DAY">All-Day Changes</label>
          <input type="number" class="form-control" id="DAY" formControlName="DAY" aria-describedby="DAY Change" />
        </div>
        <div class="mt-3 mt-lg-0 col-lg-2">
          <div class="d-flex flex-column justify-content-end h-100">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" (click)="submit()">
                <span class="material-icons">save</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h5>Scheduled capacity changes</h5>
    <table class="table p-4 mt-3">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">AM Change</th>
          <th scope="col">PM Change</th>
          <th scope="col">All-Day Change</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modifier of modifierList">
          <th scope="row">{{ modifier.sk }}</th>
          <td>{{ modifier.capacities.AM?.capacityModifier || 'n/a' }}</td>
          <td>{{ modifier.capacities.PM?.capacityModifier || 'n/a' }}</td>
          <td>{{ modifier.capacities.DAY?.capacityModifier || 'n/a' }}</td>
          <td class="d-inline-flex flex-row-reverse">
            <button type="button" class="btn btn-danger" (click)="deleteModifier(modifier)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
