<div class="container-fluid">
  <h1>{{ facility?.name }}</h1>

  <h1>Passes</h1>
  <div class="row mb-3">
    <div class="col-12 col-lg-7">
      <app-passes-capacity-bar></app-passes-capacity-bar>
    </div>
    <div class="col-12 col-lg-5 mt-4 mt-lg-auto">
      <app-passes-utility-buttons
        class="d-flex justify-content-lg-end"
      ></app-passes-utility-buttons>
    </div>
  </div>
  <app-passes-filter *ngIf="facility" [facility]="facility"></app-passes-filter>
  <app-passes-list></app-passes-list>
</div>
