<div class="row py-2">
  <div class="input-box col-md-4">
    <app-picklist
      [selectOptions]="passTypeOptions"
      [label]="'Pass Type'"
      [control]="passType"
    ></app-picklist>
  </div>
  <div class="input-box col-md-4">
    <app-shortdate-picker [label]="'Pass Date'" [control]="passDate">
    </app-shortdate-picker>
  </div>
  <div class="input-box col-md-4">
    <app-multiselect
      [label]="'Pass Status'"
      [control]="passStatus"
      [multiSelectOptions]="passStatusOptions"
    ></app-multiselect>
  </div>
</div>

<div class="row py-2">
  <div class="input-box col-md-4">
    <app-text-input
      [label]="'First Name'"
      [control]="passFirstName"
      [type]="'text'"
    ></app-text-input>
  </div>
  <div class="input-box col-md-4">
    <app-text-input
      [label]="'Last Name'"
      [control]="passLastName"
      [type]="'text'"
    ></app-text-input>
  </div>
  <div class="input-box col-md-4">
    <app-text-input
      [label]="'Email'"
      [control]="passEmail"
      [type]="'text'"
    ></app-text-input>
  </div>
</div>

<div class="row py-2">
  <div class="input-box col-md-4">
    <app-text-input
      [label]="'Reservation Number'"
      [control]="passReservationNumber"
      [type]="'text'"
    ></app-text-input>
  </div>
</div>
