<form [formGroup]="form">
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <div class="input-box me-md-4 w-100">
      <app-shortdate-picker
        [control]="fields?.modifierOverrideDate"
        [label]="'Override date'"
        [minDate]="today"
        [id]="'modifierOverrideDate'"
      >
      </app-shortdate-picker>
    </div>
    <div class="input-box me-md-4 align-self-end w-100">
      <app-text-input
        [control]="fields?.modifierAMChanges"
        [label]="'AM Changes'"
        [type]="'number'"
        id="modifierAMChanges"
      >
      </app-text-input>
    </div>
    <div class="input-box me-md-4 align-self-end w-100">
      <app-text-input
        [control]="fields?.modifierPMChanges"
        [label]="'PM Changes'"
        [type]="'number'"
        id="modifierPMChanges"
      >
      </app-text-input>
    </div>
    <div class="input-box me-md-4 align-self-end w-100">
      <app-text-input
        [control]="fields?.modifierDAYChanges"
        [label]="'All-Day Changes'"
        [type]="'number'"
        id="modifierDAYChanges"
      >
      </app-text-input>
    </div>
    <div class="d-flex justify-content-end align-self-end mb-3 w-100">
      <button
        aria-label="'Save'"
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="checkModifierSubmission()"
      >
        Save
      </button>
    </div>
  </div>
</form>
