<section *ngIf="loading">
    <div class="spinner-container">
        <div class="spinner-new rotating"></div>
    </div>
</section>
<div class="container-fluid-padding-without-header">
    <section *ngIf="!loading">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between heading-bar">
            <div>
                <h1 *ngIf="isNewFacility"
                    id="name"
                    class="m-0">Add New Facility</h1>
                <h1 *ngIf="!isNewFacility"
                    id="name"
                    class="m-0">Edit Facility: {{ facility.name }}</h1>
            </div>
        </div>
        <p class="tab-intro">
            Changes to facility information will be reflected in the BC Parks Day Pass Reservation System public
            site.
        </p>
        <hr>
    </section>

    <section *ngIf="!loading">
        <form [formGroup]="facilityForm"
            (ngSubmit)="submitForm()">

            <h4>Publishing Details</h4>
            <div class="shading-light px-3 pt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox"
                                class="custom-control-input"
                                id="status"
                                formControlName="status">
                            <label class="custom-control-label d-inline-flex"
                                for="status">
                                Status:
                                <div *ngIf="facilityForm.get('status').value"
                                    class="mx-1 text-success">Facility is open.</div>
                                <div *ngIf="!facilityForm.get('status').value"
                                    class="mx-1 text-secondary">Facility is closed.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-12">
                        <label for="stateReason">Reason for closure</label>
                        <input type="text"
                            class='form-control'
                            id="stateReason"
                            formControlName="stateReason"
                            placeholder="Enter reason for closure">
                    </div>
                </div>
            </div>

            <div class="px-3 pt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox"
                                class="custom-control-input"
                                id="visible"
                                formControlName="visible">
                            <label class="custom-control-label d-inline-flex"
                                for="visible">
                                Visibility:
                                <div *ngIf="facilityForm.get('visible').value"
                                    class="mx-1 text-primary">
                                    Facility is visible to the public.
                                </div>
                                <div *ngIf="!facilityForm.get('visible').value"
                                    class="mx-1 text-secondary">
                                    Facility is not visible to the public.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h4>Facility Details</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Facility Name <span class="text-danger">*</span></label>
                    <input type="text"
                        class='form-control'
                        id="name"
                        formControlName="name"
                        placeholder="Enter facility name"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="type">Type <span class="text-danger">*</span></label>
                    <select id="type"
                        class='form-control'
                        formControlName="type">
                        <option *ngIf="isNewFacility"
                            hidden
                            disabled
                            selected
                            value> -- Select a type -- </option>
                        <option [ngValue]="facilityType"
                            *ngFor="let facilityType of types">{{ facilityType }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="booking-opening-time">Booking Opening Time</label>
                    <div class="input-group">
                        <input type="number"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': facilityForm.controls.bookingOpeningHour.dirty && facilityForm.controls.bookingOpeningHour.invalid }"
                            id="booking-opening-time"
                            formControlName="bookingOpeningHour">
                        <div class="input-group-append"><span class="input-group-text">:00</span></div>
                        <div class="invalid-feedback" *ngIf="facilityForm.controls.bookingOpeningHour.dirty && facilityForm.controls.bookingOpeningHour.invalid">
                            Please enter an hour between 0 and 23.
                        </div>
                    </div>
                    <small class="form-text text-muted">
                        If left blank, the default value of {{ defaultBookingOpeningHour }}:00 will be used.
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="booking-days-ahead">Booking Days Ahead</label>
                    <input type="number"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': facilityForm.controls.bookingDaysAhead.dirty && facilityForm.controls.bookingDaysAhead.invalid }"
                        id="booking-days-ahead"
                        formControlName="bookingDaysAhead">
                    <div class="invalid-feedback" *ngIf="facilityForm.controls.bookingDaysAhead.dirty && facilityForm.controls.bookingDaysAhead.invalid">
                        Please enter zero or more days.
                    </div>
                    <small class="form-text text-muted">
                        If left blank, the default value of {{ defaultBookingDaysAhead }} {{ defaultBookingDaysAhead === 1 ? 'day' : 'days' }} will be used.
                    </small>
                </div>
            </div>

            <hr>

            <h4>Booking Details</h4>
            <p class="text-secondary">You must select at least one booking time <span class="text-danger">*</span>
            </p>
            <div class="shading-light px-3 pt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox"
                                class="custom-control-input"
                                id="availabilityAM"
                                formControlName="availabilityAM">
                            <label class="custom-control-label d-inline-flex"
                                for="availabilityAM">
                                AM Availability:
                                <div *ngIf="facilityForm.get('availabilityAM').value"
                                    class="mx-1 text-primary">
                                    AM passes are available to the public.
                                </div>
                                <div *ngIf="!facilityForm.get('availabilityAM').value"
                                    class="mx-1 text-secondary">
                                    AM passes are not available to the public.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="capacityAM">AM Capacity <span class="text-danger">*</span></label>
                        <input type="number"
                            class='form-control'
                            id="capacityAM"
                            formControlName="capacityAM"
                            placeholder="Enter AM capacity">
                    </div>
                </div>
            </div>

            <div class="px-3 pt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox"
                                class="custom-control-input"
                                id="availabilityPM"
                                formControlName="availabilityPM">
                            <label class="custom-control-label d-inline-flex"
                                for="availabilityPM">
                                PM Availability:
                                <div *ngIf="facilityForm.get('availabilityPM').value"
                                    class="mx-1 text-primary">
                                    PM passes are available to the public.
                                </div>
                                <div *ngIf="!facilityForm.get('availabilityPM').value"
                                    class="mx-1 text-secondary">
                                    PM passes are not available to the public.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="capacityPM">PM Capacity <span class="text-danger">*</span></label>
                        <input type="number"
                            class='form-control'
                            id="capacityPM"
                            formControlName="capacityPM"
                            placeholder="Enter PM capacity">
                    </div>
                </div>
            </div>

            <div class="shading-light px-3 pt-3">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox"
                                class="custom-control-input"
                                id="availabilityDAY"
                                formControlName="availabilityDAY">
                            <label class="custom-control-label d-inline-flex"
                                for="availabilityDAY">
                                All Day Availability:
                                <div *ngIf="facilityForm.get('availabilityDAY').value"
                                    class="mx-1 text-primary">
                                    All day passes are available to the public.
                                </div>
                                <div *ngIf="!facilityForm.get('availabilityDAY').value"
                                    class="mx-1 text-secondary">
                                    All day passes are not available to the public.
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="capacityDAY">All Day Capacity <span class="text-danger">*</span></label>
                        <input type="number"
                            class='form-control'
                            id="capacityDAY"
                            formControlName="capacityDAY"
                            placeholder="Enter all day capacity">
                    </div>
                </div>
            </div>
        </form>

        <div class="py-4">
            <!-- <div *ngIf="!isNewFacility"
                class="col-md-2">
                <button class="btn btn-danger"
                    (click)="delete()"><i class="material-icons mr-1">delete</i>Delete</button>
            </div> -->
            <div class="d-flex justify-content-md-end">
                <button class='btn btn-danger m-1'
                    [disabled]="saving"
                    (click)="cancel()">Cancel</button>
                <button class='btn btn-secondary m-1'
                    [disabled]="facilityForm.pristine || saving"
                    (click)="resetForm()">Reset
                    Form</button>
                <button class='btn btn-primary m-1'
                    [disabled]="facilityForm.invalid || saving"
                    (click)="submitForm()">
                    <span *ngIf="!saving">
                        Save Facility
                    </span>
                    <span *ngIf="saving"
                        class="material-icons rotating">
                        autorenew
                    </span>
                </button>
            </div>
        </div>
    </section>
</div>