@import '~assets/styles/base/base.scss';
@import '~assets/styles/layout/no-sidebar.scss';

:host {
  display: block;
  background-position: center -8rem;
  background-size: 250%;
  background-repeat: no-repeat;
}

.title-container {
  margin-bottom: 4rem;
  text-align: left;

  h1 {
    font-size: 2.8rem;
    line-height: 2.5rem;
  }
}
