<h2>When Are Passes Required?</h2>
<p class="mb-4">
  Set the days and times passes are required and the capacity for this facility.
</p>
<app-toggle
  id="facilityPassesRequired"
  [ariaLabel]="'Facility Passes Required'"
  [control]="facilityPassesRequired"
  [description]="'Passes required:'"
  [trueText]="'On days selected below'"
  [falseText]="'Every day'"
  (inputChange)="togglePassesRequired($event)"
>
</app-toggle>

<div class="mt-4" *ngIf="facilityPassesRequired?.value === true">
  <div class="d-flex flex-nowrap">
    <div
      class="d-inline-flex me-md-4"
      *ngFor="let day of facilityBookingDaysArray"
    >
      <app-checkbox
        [id]="day?.symbol"
        [label]="day?.symbol"
        [control]="day?.control"
      >
      </app-checkbox>
    </div>
  </div>

  <div class="input-box pt-4 mb-0">
    <div class="input-box">
      <app-wysiwyg-input
        [control]="facilityBookingDaysRichText"
        [label]="'Message to Public'"
        [id]="'facilityBookingDaysRichText'"
        [subLabel]="
          'The message below will be displayed to the public on days when passes are not required.'
        "
      >
      </app-wysiwyg-input>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap flex-md-nowrap justify-content-between mt-4">
  <div>
    <h3>AM Passes</h3>
    <div class="d-inline-flex justify-content-between">
      <app-toggle
        class="pe-3 w-100"
        [control]="getControl('AM')"
        [label]="'Available?'"
        id="amAvailable"
      >
      </app-toggle>
      <app-text-input
        class="capacity-input"
        [control]="getControl('capacityAM')"
        [label]="'Capacity'"
        id="amCapacity"
      >
      </app-text-input>
    </div>
  </div>
  <div>
    <h3>PM Passes</h3>
    <div class="d-inline-flex justify-content-between">
      <app-toggle
        class="pe-3 w-100"
        [control]="getControl('PM')"
        [label]="'Available?'"
        id="pmAvailable"
      >
      </app-toggle>
      <app-text-input
        class="capacity-input"
        [control]="getControl('capacityPM')"
        [label]="'Capacity'"
        id="pmCapacity"
      >
      </app-text-input>
    </div>
  </div>
  <div>
    <h3>All-Day Passes</h3>
    <div class="d-inline-flex justify-content-between">
      <app-toggle
        class="pe-3 w-100"
        [control]="getControl('DAY')"
        [label]="'Available?'"
        id="dayAvailable"
      >
      </app-toggle>
      <app-text-input
        class="capacity-input"
        [control]="getControl('capacityDAY')"
        [label]="'Capacity'"
        id="dayCapacity"
      >
      </app-text-input>
    </div>
  </div>
</div>
