@use "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

.input-group-text {
  background-color: #fff;
}

.with-item-left {
  border-left: none;
}

.with-item-right {
  border-right: none;
}

.clear-button {
  color: variables.$gray-500;
  cursor: pointer;
  & :hover {
    color: #333;
  }
}
