<div class="pt-3 container-fluid">
  <h1>Pass Search</h1>
</div>
<section>
  <div class="mt-4">
    <app-passes-filter></app-passes-filter>
  </div>
  <div class="mx-4 mt-4">
    <div class="row">
      <div class="col-12 col-lg-4">
        <h3>Search Results</h3>
      </div>
      <div class="col-12 col-lg-8">
        <app-passes-utility-buttons class="d-flex justify-content-lg-end"></app-passes-utility-buttons>
      </div>
    </div>
  </div>
  <div class="mx-4 mt-4">
    <div class="row">
      <div class="col-12">
        <app-passes-capacity-bar></app-passes-capacity-bar>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <app-passes-list></app-passes-list>
  </div>
</section>