<section *ngIf="loading">
  <div class="spinner-container">
    <div class="spinner-new rotating"></div>
  </div>
</section>

<section class="mb-4" *ngIf="!loading">
  <section *ngIf="data.length > 0">
    <app-list
      [tableRowComponent]="tableRowComponent"
      [tableColumns]="tableColumns"
      [totalListItems]="totalListItems"
      [data]="data"
      [options]="options"
    ></app-list>
  </section>

  <div *ngIf="ExclusiveStartKeyPK && ExclusiveStartKeySK && data.length > 0" class="d-flex justify-content-center">
    <button class="btn btn-outline-primary" (click)="loadMore()" [disabled]="loadingMore">
      <span *ngIf="!loadingMore">Load More</span>
      <span *ngIf="loadingMore" class="material-icons rotating">autorenew</span>
    </button>
  </div>

  <section *ngIf="data.length === 0">There are no passes to display.</section>
</section>
