<div class="container-fluid p-0">
  <div class="park-header-bg-colour p-4 d-flex justify-content-between">
    <h1 class="text-white m-0">{{ park?.name }}</h1>
    <div
      class="btn-group d-md-block d-none"
      role="group"
      aria-label="Basic example"
    >
      <button type="button" class="btn btn-outline-light active">
        Details
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="navigate('edit')"
      >
        Edit
      </button>
    </div>
  </div>
  <!--mobile btns-->
  <div class="text-center p-3 d-md-none">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-secondary active">
        Details
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="navigate('edit')"
      >
        Edit
      </button>
    </div>
  </div>
</div>

<div class="container-fluid pt-3" *ngIf="park">
  <div class="row">
    <div class="col-md-6">
      <label><strong>Status:</strong></label>
      <p *ngIf="park?.status === 'open'">Passes are required at this park.</p>
      <p *ngIf="park?.status !== 'open'">
        Passes are not required at this park.
      </p>
    </div>
    <div class="col-md-6">
      <label><strong>Capacity:</strong></label>
      <p>{{ park?.capacity ? park?.capacity : "Not set" }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label><strong>BC Parks Link:</strong></label>
      <br />
      <a href="{{ park?.bcParksLink }}">{{ park?.bcParksLink }}</a>
    </div>
    <div class="col-md-6">
      <label><strong>Visible:</strong></label>
      <br />
      <p>{{ park?.visible }}</p>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6">
      <label><strong>Map Link:</strong></label>
      <br />
      <a *ngIf="park?.mapLink" href="{{ park?.mapLink }}">{{
        park?.mapLink
      }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label><strong></strong>Description:</label>
      <p [innerHTML]="park?.description"></p>
    </div>
  </div>
  <hr />
  <br />
</div>

<app-facilities-list></app-facilities-list>
