<label *ngIf="label" for="{{ id }}" class="fw-bold mb-2"
  >{{ label
  }}<span *ngIf="isRequired()" class="text-danger">&nbsp;*</span></label
>

<div class="input-group mb-3" [ngClass]="{ 'invalid-field': isInvalid() }">
  <span
    *ngIf="icon"
    class="input-group-text"
    id="{{ ariaDescribedBy }}"
    [ngClass]="icon"
    ><i class="bi"></i
  ></span>
  <ngb-timepicker
    title="Set the facility opening hour"
    name="{{ id }}"
    id="{{ id }}"
    [(ngModel)]="modelTime"
    (ngModelChange)="onTimeChange()"
    [meridian]="!is24HTime"
  >
  </ngb-timepicker>
</div>
