<form [formGroup]="form">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <div class="col" *ngFor="let obj of formComponents">
      <span *ngIf="obj.formType === 'date'">
        <label>
          {{ obj.label }}
        </label>
        <lib-date-picker [id]="obj.label" [control]="form.get(obj.value)" [reset]="resetControls"></lib-date-picker>
      </span>
      <span *ngIf="obj.formType === 'select'">
        <label for="{{ obj.value }}">
          {{ obj.label }}
        </label>
        <select id="obj.label" class="form-control" formControlName="{{ obj.value }}" [attr.aria-label]="obj.label">
          <option
            *ngFor="let option of obj.options"
            [attr.value]="option.selectValue"
            [attr.selected]="option.initialValue ? true : null"
          >
            {{ option.selectLabel }}
          </option>
        </select>
      </span>
      <span *ngIf="obj.formType === 'autoMultiSelect'">
        <label for="{{ obj.value }}">
          {{ obj.label }}
        </label>
        <app-autocomplete-multi-select
          [filter]="obj.multiSelectOptions"
          [control]="form.controls[obj.value]"
        ></app-autocomplete-multi-select>
      </span>
      <span *ngIf="obj.formType === 'text'">
        <label for="{{ obj.value }}">
          {{ obj.label }}
        </label>
        <input type="text" class="form-control" id="{{ obj.value }}" formControlName="{{ obj.value }}" />
      </span>
    </div>
  </div>
  <div class="float-right mt-4">
    <button class="btn btn-primary" [disabled]="loadingStatus" (click)="submit()">
      <span *ngIf="!loadingStatus">Search</span>
      <span *ngIf="loadingStatus" class="material-icons rotating">autorenew</span>
    </button>
  </div>
</form>
