<td data-label="Reg #" scope="row" class="col-2 pointer" (click)="navigate('details')">
  {{ validate('registrationNumber') }}
</td>
<td data-label="Email" scope="row" class="col-4 pointer" (click)="navigate('details')">{{ validate('email') }}</td>

<td
  *ngIf="rowData?.facilityType === 'Trail'"
  data-label="Guests"
  scope="row"
  class="col-2 pointer"
  (click)="navigate('details')"
>
  {{ validate('numberOfGuests') }}
</td>
<td
  *ngIf="rowData?.facilityType === 'Parking'"
  data-label="Guests"
  scope="row"
  class="col-2 pointer"
  (click)="navigate('details')"
>
  {{ validate('license') }}
</td>
<td data-label="Date" scope="row" class="col-2 pointer" (click)="navigate('details')">{{ validate('date') }}</td>
<td data-label="Status" scope="row" class="col-1 pointer" (click)="navigate('details')">
  {{ validate('passStatus') }}
</td>
<td data-label="Controls" scope="row" class="col-1">
  <div class="d-flex justify-content-center">
    <button
      type="button"
      [disabled]="rowData?.passStatus === 'cancelled' || rowData?.passStatus === 'expired' || cancelLoading"
      class="btn btn-outline-danger btn-sm"
      title="Cancel {{ validate('registrationNumber') }}"
      (click)="navigate('cancel')"
    >
      <span *ngIf="!cancelLoading" class="material-icons">cancel</span>
      <span *ngIf="cancelLoading" class="material-icons rotating">autorenew</span>
    </button>
  </div>
</td>
