@import "@digitalspace/bcparks-bootstrap-theme/dist/scss/variables";

$lightblue: #ecf6ff;
$secondary-nav: $secondary-nav;
$primary-blue: $primary-nav;
$dark-green: #205d38;
$calc-blue: #C7E3FD;
$calc-green: #AEE5BA;
$form-grey: #F2F2F2;
$form-invalid: $danger;
